html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dcd4cd;
  border-radius: 3px;
  border-color: #9a816d;
  text-align: left;
}

a {
  text-decoration: none;
}

h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #512200;
}

dl {
  font-size: .875rem;
  color: #512200;

}

dd {
  font-style: italic;
}

.btn {
  background-color: #785439;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
}

.link-card:hover {
  background-color: #;
  border-color: #;
  color: #;
}

.link-card:hover .btn {
  background-color: #;
}
