html {
  background-color: #f0eee8;
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: inline-block;
  text-align: left;
  border-radius: 3px;
  border: 3px solid #9a816d;
  padding: .5rem 1rem 1rem;
  background-color: #dcd4cd;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #785439;
}

a {
  text-decoration: none;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
  margin: 0 0 .75rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #512200;
  margin: 0 0 1rem;
}

dt {
  float: left;
  max-width: 40%;
}

dd::after {
  content: " ";
  display: block;
}

dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  font-size: .875rem;
  line-height: 1.4rem;
  color: #512200;
  padding: 1em 0;
}

dd {
  font-style: italic;
  margin-left: 50%;
}

.container {
  padding-top: .25em;
}

.btn-wrap {
  margin: .5em 0;
  text-align: center;
}

.btn {
  background-color: #9a816d;
  border-radius: 8px;
  border-width: 2px;
  color: #fff;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  margin: .5em 0;
  padding: .4em .75em .5em;
  text-align: center;
}
